<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Product</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Product</h1>
<br/><br/>
<div>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/products}">Products List</a>
    <table border="1">
        <tr>
            <th>Brand & Model</th>
            <th>Color</th>
            <th>Price</th>
        </tr>
        <tr>
            <td th:utext="${showProduct.brand} + ' ' +${showProduct.model}">...</td>
            <td th:utext="${showProduct.color}">...</td>
            <td th:utext="${showProduct.price}">...</td>
        </tr>
        <img th:src="${showProduct.image}">
    </table>
</div>
</body>
</html>