<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Products List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Products List</h1>
<br/><br/>
<div>
    <a th:href="@{/}">Home</a>
    <table border="1">
        <tr>
            <th>Model</th>
            <th>Price</th>
        </tr>
        <tr th:each ="product : ${listproducts}">
            <td ><a th:utext="${product.brand} + ' ' + ${product.modele}" th:href="@{/products/{id}(id = ${product.id})}"></a></td>
            <td th:utext="${product.price}">...</td>
        </tr>
    </table>
    <a th:href="@{/addproduct}">Add product</a>
</div>
</body>
</html>

